:root {
  --color-dark: rgb(255, 255, 255);
  --color-light: rgb(0, 0, 0);
  --transition-duration: 500ms;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pixellari";
  src: url("./fonts/Pixellari.ttf")
}

@font-face {
  font-family: "bubblyPixel";
  src: url("./fonts/bubblyPixel.TTF")
}

@font-face {
  font-family: "kongtext";
  src: url("./fonts/kongtext.ttf")
}

@font-face {
  font-family: "custom";
  src: url("./fonts/kongtext.ttf")
}

@layer base {
  * {
    @apply font-pixellari
  }
}

@layer components {
  .home-btn {
    @apply lg:text-3xl md:text-2xl sm:text-lg font-kongtext m-6 
    cursor-pointer hover:scale-125 transition-transform duration-300
  }

  .theme-btn {
    @apply cursor-pointer ml-5 hover:scale-110 transition-transform
  }

  .links li {
    @apply mx-3 text-xl hover:text-yellow-200 transition-colors
  }

  .light-dark-bg {
    @apply bg-light-bg dark:bg-dark-bg bg-contain bg-center 
  }

  .light-dark-text {
    @apply text-light dark:text-dark 
  }

  .light-dark-border {
    @apply border-light dark:border-dark 
  }

  .light-dark-theme {
    @apply bg-light-bg dark:bg-dark-bg bg-contain bg-center 
    text-light dark:text-dark  
    border-light dark:border-dark
    transition-all duration-[var(--transition-duration)]
  }

  .contact-form {
    @apply flex flex-col w-96 h-[32rem] p-12 light-dark-text 
  }

  .contact-form-items {
    @apply border light-dark-border mb-3

  }  

  .download-btn {
    @apply border-4 light-dark-border rounded-md p-2 bg-black bg-opacity-0 hover:bg-opacity-5
  }
}