/* .dark {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
}

:root {
  @apply .light;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pixeled";
  src: url("./fonts/Pixeled.ttf")
}

@font-face {
  font-family: "Pixellari";
  src: url("./fonts/Pixellari.ttf")
}

@font-face {
  font-family: "bubblyPixel";
  src: url("./fonts/bubblyPixel.TTF")
}

@font-face {
  font-family: "upheavtt";
  src: url("./fonts/upheavtt.ttf")
}

@font-face {
  font-family: "ka1";
  src: url("./fonts/ka1.ttf")
}

@font-face {
  font-family: "kongtext";
  src: url("./fonts/kongtext.ttf")
}

@layer base {
  * {
    /* @apply font-kongtext */
    @apply font-pixellari
  }
}

@layer components {
  .home-btn {
    @apply text-3xl font-kongtext m-6 cursor-pointer hover:text-4xl 
  }

  .theme-btn {
    @apply cursor-pointer ml-5
  }

  .download-btn {
    @apply border-4 border-black rounded-md p-2 bg-black bg-opacity-0 hover:bg-opacity-5
  }

  .links li {
    @apply mx-3 text-xl
  }

  .light-dark-theme {
    @apply bg-light-bg dark:bg-dark-bg bg-cover dark:bg-cover text-black dark:text-white
    transition-all duration-500
  }


}